doctype 
html 
    head 
        title 
            |Infiniters
        style 
            include ../static/about.css
    body 
        nav.nav
            <i class="fas fa-space-shuttle"></i>
            ul 
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/contact") ContactUs]
                li#signup #[a(href="/signup") Signup] 
        footer.footer 
            | Copyright © 2019 #[a(href="/") infiniters.com] | All Rights Reserved     
        <script src="https://kit.fontawesome.com/9258d5c248.js" crossorigin="anonymous"></script>