html
  head
    title Harry Dance Academy
    block scripts
    block style
  Body
    div#logo
    img(src="/static/img/logo.png")
    | HDA
    li #[a(href="/") Home]
    li #[a(href="/") About]
    li #[a(href="/") Services]
    li #[a(href="/") Class Info]
    li #[a(href="/") Contact Us]

    block content
    block foot
      #footer
        | Copyright 2019 HarryDance Academy | All Rights Reserved