doctype 
html 
    head 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title 
            |Infiniters
        style 
            include ../static/style.css
    body 
        nav.nav#nav
            <i class="fas fa-space-shuttle"></i>
            ul 
                li #[a(href="/" class="navli" id="home") Home]
                li #[a(href="/about" class="navli"  id="about") About]
                li #[a(href="/contact" class="navli" id="contact") ContactUs] 
                li #[a(href="/signup" class="navli" id="signup") Signup]
            <i class="fas fa-bars" id="hamburger"></i>
            <i class="fas fa-times" id="cross"></i>
        about_hover.about_hover
        div.main
            h1 INFINITERS 
            p Ready To Change the World With Us.    
        div.aim
            h1 WHAT WE DO
            div.box
                div.cards#explore
                    p Here we explore new things and methods to solve problems in real life.
                div.cards#modify
                    p We also improve the best thing to make it finest. 
                div.cards#imagine
                    p Imagination is the key and most important part in which we focus. 
        footer.footer 
            | Copyright © 2019 #[a(href="/") infiniters.com] | All Rights Reserved     
        <script src="https://kit.fontawesome.com/9258d5c248.js" crossorigin="anonymous"></script>
        script(src="/static/html.js") 